@font-face {
  font-family: 'MyWebFont';
  src:  url('assets/deafult.ttf') format('Deafult');
}

body{
    background: #000;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
  
.main{
  /* font-family: consolas sans-serif; */
  height: 300vh;
  padding: 10vh;
}